@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

body {
  font-family: 'Inter', sans-serif;
  background: #09090b;
  color: #fafafa;
  overflow: hidden;
  overscroll-behavior: none;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}